{% extends 'blog/base.html' %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../../static/img/editing.jpg')">
        <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                <h1>Post Editor</h1>
                <span class="subheading">Want to make a change? It's on you to do it.</span>
                </div>
            </div>
        </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2>New post</h2>
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}