{% extends 'blog/base.html' %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                <h1>Rob's Blog</h1>
                <span class="subheading">The more I want to get something done,<br>the less I call it work.</span>
                </div>
            </div>
        </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <p style="line-height: 21px;" id="post-text">{{ post.text|linebreaksbr|truncatechars:200 }}</p>
                    <a style="font-size: 12pt;" href="{% url 'post_detail' pk=post.pk %}" id="comments">(Comments: {{ post.approved_comments.count }})</a>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}