.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.date {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 3%;
}

.date {
    margin-bottom: -3%;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

#comments {
    font-size: 12pt;
}

#post-text {
    line-height: 130% !important;
}

.comment {
    width: 100%;
}

#main { 
    animation: fadeInAnimation ease 1.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
        -webkit-animation: fadeInAnimation ease 1.5s; 
        -webkit-animation-iteration-count: 1; 
        -webkit-animation-fill-mode: forwards; 
            -moz-animation: fadeInAnimation ease 1.5s; 
            -moz-animation-iteration-count: 1; 
            -moz-animation-fill-mode: forwards; 
                -o-animation: fadeInAnimation ease 1.5s; 
                -o-animation-iteration-count: 1; 
                -o-animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% {
        opacity: 0;
        transform: translateY(15px);
            -webkit-transform: translateY(15px);
                -moz-transform: translateY(15px);
                    -o-transform: translateY(15px);
    }
    100% { 
        opacity: 1;
     } 
} 